.StyleButton {
  align-items: center;

  background: #36a9e0;
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.StyleButton:hover {
  opacity: 0.8;
  cursor: "pointer";
}
