.Container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.StyleForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 400px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  /* 
  ${media.mobile} {
    width: 80%;
  } */
}
